<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
    
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <div>
      <%-body -%>
    </div>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>