<% layout('base') -%>

<form id="fileupload" action="http://gifpop-uploads.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    <input name="AWSAccessKeyId" type="hidden" value="<%=aws_accesskeyid%>" />
    <input name="x-amz-acl" type="hidden" value="public-read" />
    <input name="key" type="hidden" value="uploads/<%=scan_id%>/<%=file_prefix%>-${filename}" />
    <input name="success_action_redirect" type="hidden" value="<%=base_url%>/uploaded/" />

    <input name="policy" type="hidden" value="<%=aws_policy%>" />
    <input name="signature" type="hidden" value="<%=aws_signature%>" />
    <input type="hidden" name="Content-Type" value="image/gif" />
    
    <input name="file" type="file">
    <input type="submit" value="Send">
</form>

<!-- uncomment lines below for jquery-file-upload bizniss -->
<!-- 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="lib/fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="lib/fileupload/js/jquery.iframe-transport.js"></script>
<script src="lib/fileupload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="js/s3upload.js"></script>
-->