<% layout('base') -%>

<% script('//api.filepicker.io/v1/filepicker.js') -%>

<div id="img-wrapper">
	<img id="img1" src="http://gifpop-uploads.s3.amazonaws.com/<%=key%>">
	<h2>Nice Find!</h2>
	<h2 class="second">Pick your second image:</h2>
</div>
<iframe id="picker"></iframe>

<style>
	#img-wrapper {
		width: 875px;
		min-height: 100px;
	}
	#img1 {
		max-width: 400px;
		max-height: 200px;
		display: block;
		float: right;
	}
	h2 {
		float: left;
		font-family: Futura;
		text-transform: uppercase;
		position: absolute;
	}
	h2.second {
		top: 90px;
	}
	#picker {
		width: 875px;
		height: 500px;
		border: none;
	}
</style>

<script type="text/javascript">

	filepicker.setKey("AYkBZ0oUOTTqvkwhxMx3Ez");

	filepicker.pickAndStore({
			mimetype: 'image/*',
			container: 'picker',
			services: ['COMPUTER','URL','INSTAGRAM','FACEBOOK','FLICKR']
		},{
			path: '/uploads/<%=scan_id%>/'
		},function(InkBlobs){
	   		// console.log(JSON.stringify(InkBlobs));
	   		var id = InkBlobs[0].url.split("/")[5];
	   		window.location = "<%=base_url%>/flipflop/?id0=<%=doc_id%>&key0=<%=key%>&id1="+id+"&key1="+InkBlobs[0].key;
		},function(FPError){ console.log(FPError); }
	);

</script>