<% layout('base') -%>

<% script('//api.filepicker.io/v1/filepicker.js') -%>


<div id="img-wrapper">
	<div class="img-box"></div>
	<h2>Nice find!</h2>
	<h2 style="top:55px">Now pick the second:</h2>
</div>
<iframe id="picker"></iframe>

<style>
	.wrapper {
		width: 875px;
	}
	#img-wrapper {
		width: 875px;
		min-height: 100px;
	}
	#img1 {
		max-width: 400px;
		max-height: 200px;
		display: block;
		float: right;
	}
	#picker {
		width: 875px;
		height: 500px;
		border: none;
	}
	h2 {
		font-family: Futura;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 24px;
		-webkit-font-smoothing: antialiased;
		transform: skew(-7deg);
		-ms-transform: skew(-7deg);
		-moz-transform: skew(-7deg);
		-webkit-transform: skew(-7deg);
		-o-transform: skew(-7deg);
		padding: 23px 10px 0 5px;
		float: left;
	}
	.img-box {
		width: 90px;
		height: 90px;
		float: left;
		background-image: url(http://gifpop-uploads.s3.amazonaws.com/<%=key%>);
		background-position: center;
		background-size: cover;
		border: solid #808080;
		border-width: 5px;
		margin: 10px 10px 10px 150px;
	}
</style>

<script type="text/javascript">

	filepicker.setKey("AYkBZ0oUOTTqvkwhxMx3Ez");

	filepicker.pickAndStore({
			mimetype: 'image/*',
			container: 'picker',
			services: ['COMPUTER','URL','INSTAGRAM','FACEBOOK','FLICKR']
		},{
			path: '/uploads/<%=scan_id%>/'
		},function(InkBlobs){
	   		// console.log(JSON.stringify(InkBlobs));
	   		var id = InkBlobs[0].url.split("/")[5];
	   		window.location = "<%=base_url%>/flipflop/?id0=<%=doc_id%>&key0=<%=key%>&id1="+id+"&key1="+InkBlobs[0].key;
		},function(FPError){ console.log(FPError); }
	);

</script>