<% layout('base') -%>

<% script('/lib/jsgif/gif.js') -%>
<% script('/lib/jquery.min.js') -%>
<% script('/js/gifcontrol.js') -%>
<% script('/js/gifchop.js') -%>

<div class="bg">
	<img id="gif" src="<%=image_url%>" style="margin-left: -10000px;">
	<div id="gif-controls">
		<div id="timeline" class="scrubbable"></div>
		<div id="doc_id" style="display: none;"><%=doc_id%></div>
		<div id="selection"></div>
		<div id="playhead"></div>
		<div id="gif-ui">
			<div id="instructions" class="large-helper-text" style="display: none;">Click to select a clip</div>
			<div id="finalize" class="large-helper-text" style="display: none;">
				<span id="finalize-text">Click or drag to adjust, then hit</span> <button id="gif-submit">DONE!</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var image_url = '<%=image_url%>';
	var image = document.getElementById('gif');
	image.onload = function() {
		console.log("image loaded");
		gifchopper.load(image_url, image, '<%=doc_id%>');
	};

	function displayMessage (evt) {
		$(".jsgif").attr("class","jsgif "+evt.data);
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}

	// grab the current frames, give them to couch
	function saveFrames() {
		$.ajax({
			type: "POST",
			url: "/selected",
			dataType: "json",
			data: {
				id: '<%=doc_id%>',
				frames: gifchopper.getFrames().toString()
			}
		});

		var imgHeight = $(".gif-wrapper").height();
		$(".gif-wrapper").mouseenter(function(){
			$(".jsgif").css("-webkit-animation","none")
		}).mousemove(function(e){
			var percentage = Math.max(1 - e.offsetY/imgHeight,0);

			gifchopper.stopIdling();
			gifchopper.seekPercentOfSelection(percentage);


			if (typeof document.getCSSCanvasContext != 'function') {
				bgContext = d3.select("#ring-preview-canvas").node().getContext('2d');
				$(".strip div").css("background-image", "-moz-element(#ring-preview-canvas)");
			} else {
				bgContext = document.getCSSCanvasContext('2d', 'ring-preview', projWidth, projHeight + topBorder + bottomBorder);
			}


			var transform = "perspective(500) rotateX("+(5-(percentage*20))+"deg)";
			$(".jsgif").css("-webkit-transform", transform);
		}).mouseleave(function(){
			// gifchopper.startIdling();
		});
	}

	// update db with frame numbers
	$("#gif-submit").click(saveFrames);
</script>
