<% layout('base') -%>

<% script('/lib/jsgif/gif.js') -%>
<% script('/lib/jquery.min.js') -%>
<% script('/js/gifcontrol.js') -%>
<% script('/js/gifchop.js') -%>

<div class="bg">
	<div id="gif-container">
		<img id="gif" src="<%=image_url%>" style="margin-left: -10000px;">
	</div>
	<div id="gif-controls">
		<div id="timeline" class="scrubbable"></div>
		<div id="doc_id" style="display: none;"><%=doc_id%></div>
		<div id="selection"></div>
		<div id="playhead"></div>
		<div id="gif-ui">
			<div id="instructions" class="large-helper-text" style="display: none;">Click to select a clip</div>
			<div id="finalize" class="large-helper-text" style="display: none;">
				<span id="finalize-text">Click or drag to adjust, then hit</span> <button id="gif-submit">DONE!</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var image_url = '<%=image_url%>';
	var image = document.getElementById('gif');
	image.onload = function() {
		console.log("image loaded");
		gifchopper.load(image_url, image, '<%=doc_id%>');
	};

	function displayMessage (evt) {
		$("#gif-rotation-preview").attr("class",evt.data);
		var preview = $("#gif-rotation-preview")[0];
		preview.width = $("#gif-rotation-preview").width();
		preview.height = $("#gif-rotation-preview").height();

		console.log(preview.width, preview.height);

		redrawCanvas();
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}

	// grab the current frames, give them to couch
	function saveFrames() {
		$.ajax({
			type: "POST",
			url: "/selected",
			dataType: "json",
			data: {
				id: '<%=doc_id%>',
				frames: gifchopper.getFrames().toString()
			}
		});

		previewGif();
	}

	function previewGif() {
		// add a new canvas so we can transform it freely
		var previewCanvas = document.createElement('canvas');
		previewCanvas.id = "gif-rotation-preview";
		$("#gif-container").append(previewCanvas);

		// hide existing gif stuff
		var wrapperHeight = $(".gif-wrapper").height();
		$(".gif-wrapper").css("margin-left", "10000px");

		$("#gif-container").mouseenter(function() {
			$("#gif-rotation-preview").css("-webkit-animation","none")
		}).mousemove(function(e) {

			var percentage = Math.max(1 - (e.pageY / wrapperHeight),0);

			gifchopper.stopIdling();
			gifchopper.seekPercentOfSelection(percentage);

			var transform = "perspective(500) rotateX("+(5-(percentage*20))+"deg)";
			$("#gif-rotation-preview").css("-webkit-transform", transform);

			redrawCanvas();
		}).mouseleave(function() {
			// gifchopper.startIdling();
		});

		// fake the initial click on the business cards
		displayMessage({ data: 's_Bus'});
	}

	/*
		copy the jsgif canvas over to our preview canvas
		this way we can apply transforms and not end up with total fucking weirdness
	*/
	function redrawCanvas() {
		var canvas = $("#gif-canvas")[0],
			previewCanvas = $("#gif-rotation-preview")[0],
			previewContext = previewCanvas.getContext('2d'),
			ratio = canvas.width / canvas.height,
			ph = $("#gif-rotation-preview").height(),
			pw = $("#gif-rotation-preview").width(),
			dh = ratio >= 1 ? ph : pw / ratio,
			dw = ratio >= 1 ? ratio * dh : pw;

		previewContext.drawImage(canvas, (pw - dw) / 2, (ph - dh) / 2, dw, dh);
	}

	// update db with frame numbers
	$("#gif-submit").click(saveFrames);
</script>
