<% layout('base') -%>

<% script('/lib/jsgif/gif.js') -%>
<% script('/lib/jquery.min.js') -%>
<% script('/js/gifcontrol.js') -%>
<% script('/js/gifchop.js') -%>

<div class="bg">
	<img id="gif" src='<%=image_url%>'>
	<div id="gif-controls">
		<div id="timeline" class="scrubbable"></div>
		<div id="doc_id" style="display: none;"><%=doc_id%></div>
		<div id="selection"></div>
		<div id="playhead"></div>
		<div id="gif-ui">
			<div id="instructions" class="large-helper-text" style="display: none;">Click to select a clip</div>
			<div id="finalize" class="large-helper-text" style="display: none;">
				<span id="finalize-text">Click or drag to adjust, then hit</span> <button id="gif-submit">DONE!</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var image_url = '<%=image_url%>';
	var image = document.getElementById('gif');
	image.onload = function() {
		console.log("image loaded");
		gifchopper.load(image_url, image, '<%=doc_id%>');
	};

	function displayMessage (evt) {
		$(".jsgif").attr("class","jsgif "+evt.data);
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}
	$(".bg").mouseenter(function(){
		// $(".box").css("-webkit-animation-play-state", "paused");
		$(".box").css("-webkit-animation","none")
	}).mousemove(function(e){
		var percentage = Math.max(1 - e.offsetY/imgHeight,0);
		$("#wrapper").css("-webkit-transform","perspective(500) rotateX("+(5-(percentage*20))+"deg)");
		$("#b2-wrapper").css("-webkit-mask-position",-imgHeight*percentage+"px "+-imgHeight*percentage+"px");
	}).mouseleave(function(){
		// $(".box").css("-webkit-animation-play-state", "running");
	});

	// grab the current frames, give them to couch
	function saveFrames() {
		$.ajax({
			type: "POST",
			url: "/selected",
			dataType: "json",
			data: {
				id: '<%=doc_id%>',
				frames: gifchopper.getFrames().toString()
			}
		});
	}

	// update db with frame numbers
	$("#gif-submit").click(saveFrames);
</script>
