<% layout('base') -%>

<% script('/lib/jsgif/gif.js') -%>
<% script('/lib/jquery.min.js') -%>
<% script('/js/gifcontrol.js') -%>
<% script('/js/gifchop.js') -%>

<div class="bg">
	<img id="gif" src='<%=image_url%>'>
	<div id="gif-controls">
		<div id="timeline" class="scrubbable"></div>
		<div id="doc_id" style="display: none;"><%=doc_id%></div>
		<div id="selection"></div>
		<div id="playhead"></div>
		<div id="gif-ui">
			<!-- <button id="gif-toggle">Autoplay: Off</button> -->
			<div id="instructions" class="large-helper-text" style="display: none;">Select a clip of the gif to chop</div>
			<div id="finalize" class="large-helper-text" style="display: none;">
				Click or drag to adjust, then hit <button id="gif-submit">DONE!</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var image_url = '<%=image_url%>';
	var image = document.getElementById('gif');

	gifchopper.load(image_url, image, '<%=doc_id%>');

	function displayMessage (evt) {
		$(".jsgif").attr("class","jsgif "+evt.data);
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}

	// grab the current frames, give them to couch
	function saveFrames() {
		$.ajax({
			type: "POST",
			url: "/selected",
			dataType: "json",
			data: {
				id: '<%=doc_id%>',
				frames: gifchopper.getFrames().toString()
			}
		});
	}

	// update db with frame numbers
	$("#gif-submit").click(saveFrames);
</script>
