<% layout('base') -%>

<% script('/lib/jsgif/gif.js') -%>
<% script('/lib/jquery.min.js') -%>
<% script('/js/gifcontrol.js') -%>
<% script('/js/gifchop.js') -%>

<div class="bg">
	<img id="gif" src='<%=image_url%>'>
	<div id="gif-controls">
		<div id="timeline"></div>
		<div id="instructions">click on the timeline to choose your frames</div>
		<div id="doc_id"><%=doc_id%></div>
		<div id="selection"></div>
		<div id="gif-ui">
			<!-- <button id="gif-toggle">Autoplay: Off</button> -->
			<button id="gif-submit">Done!</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	var image_url = '<%=image_url%>';
	var image = document.getElementById('gif');

	gifchopper.load(image_url, image, '<%=doc_id%>');

	function displayMessage (evt) {
		// document.getElementById("gif").className = evt.data;
		$(".jsgif").attr("class","jsgif "+evt.data);
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}

	// grab the current frames, give them to couch
	function saveFrames() {
		$.ajax({
			type: "POST",
			url: "/selected",
			dataType: "json",
			data: {
				id: '<%=doc_id%>',
				frames: gifchopper.getFrames().toString()
			}
		});
	}
	
	// update db with frame numbers
	$("#gif-submit").click(saveFrames);
</script>